body {
  background-color: #f1b6ef;
}

h1 {
  font-family: Berlin Sans FB;
  color: #f8f18c;
  text-align: center;
}

h2 {
  font-family: Berlin Sans FB;
  color: #8ce9f8;
  text-align: center;
}

.forms{
	
}